$breakpoint-tablet: 1066px;
$breakpoint-desktop: 1067px;

.detailWrap {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 70px 2vw 0 4vw;
  gap: 20px;

  .videoContent {
    width: 100%;
    max-width: 1366px;
    iframe {
      outline: none;
      border: none;
    }
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@include tablet {
  .detailWrap {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    #comments {
      max-width: 100%;
    }
  }
}
