$item-color: rgba(0, 0, 0, 0.05);
$item-hover-color: rgba(0, 0, 0, 0.15);

.frame {
  display: flex;
  position: absolute;
  top: 70px;

  .mainPageFrame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    position: relative;

    .filterWrapper {
      width: 100%;
      justify-content: left;
      align-items: center;
      display: flex;
      padding: 0 15px;
      position: fixed;
      top: 70px;
      background-color: #fff;
      z-index: 999;

      .filterItem {
        padding: 5px 10px;
        margin: 6px;
        border-radius: 10px;
        background-color: $item-color;
        &:hover {
          cursor: pointer;
          background-color: $item-hover-color;
        }
      }
    }
  }
}
